<div>
  <h2>Notificar Estudiantes</h2>
  <form (submit)="sendNotification()">
    <div>
      <label for="listType">Tipo de Lista:</label>
      <select id="listType" [(ngModel)]="listType" name="listType" required>
        <option value="ListaA">Lista A - Matemáticas</option>
        <option value="ListaB">Lista B - Francés</option>
        <option value="ListaC">Lista C - Matemáticas y Francés</option>
      </select>
    </div>
    <div>
      <label for="message">Mensaje:</label>
      <textarea id="message" [(ngModel)]="message" name="message" required></textarea>
    </div>
    <button type="submit">Enviar Notificación</button>
  </form>
</div>
